.mon_humeur1{position:absolute;width: 40px;height: 40px;background-color: #F5FFFA;margin-left: 1px;}
.boxv1{position:absolute;width: 2px;height: 10px;background-color: #3366FF;}
.boxv1:active{ background-color: #F5FFFA; }
.boxv2{position:absolute;width:2px;height:8px;background-color: #3366FF;}
.boxv3{position:absolute;width: 2px;height: 15px;background-color: #3366FF;}
.boxv4{position:absolute;width: 2px;height: 2px;background-color: #3366FF;}
.boxv5{position:absolute;width: 2px;height: 20px;background-color: #3366FF;}
.boxh1{position:absolute;width: 10px;height: 2px;background-color: #3366FF;}
.boxh1:active{background-color: #F5FFFA;}
.action{position:absolute;cursor:pointer;background-color: #F5FFFA;}
.angle1 {
transform: rotate(60deg);}
.box1{position:absolute;width: 8px;height: 8px;border: 0px; margin-top:-12px ;border-bottom: 2px solid #3366FF;border-left: 2px solid #3366FF;border-top: 2px solid #3366FF;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.boxs{position:absolute;width: 8px;height: 8px;border: 0px;border-left: 2px solid #3366FF;border-bottom: 2px solid #3366FF;border-top-left-radius:8px;border-top-right-radius:4px;border-bottom-right-radius:32px;border-bottom-left-radius:8px;margin-left: 8px;}
.box2{position:absolute;width: 10px;height: 20px;border: 0px;border-left: 2.5px solid #3366FF;border-top-left-radius:20px;border-top-right-radius:12px;border-bottom-right-radius:12px;border-bottom-left-radius:20px;}
.box3{position:absolute;width: 10px;height: 20px;border: 0px;border-right: 2.5px solid #3366FF;border-top-left-radius:12px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:12px;}
.box4{position:absolute;width: 20px;height: 25px;border: 0px;border-left: 2.5px solid #3366FF;border-top-left-radius:20px;border-top-right-radius:40px;border-bottom-right-radius:40px;border-bottom-left-radius:100px;}
.box5{position:absolute;width: 20px;height: 20px;border: 0px;border-right: 1.5px solid #3366FF;border-top-right-radius:40px;border-top-left-radius:40px;border-bottom-left-radius:40px;border-bottom-right-radius:200px;}
.box6{position:absolute;width: 5px;height: 10px;border: 0px;border-right: 2.5px solid #3366FF;border-top-right-radius:40px;border-top-left-radius:40px;border-bottom-left-radius:40px;border-bottom-right-radius:200px;}
.box7{position:absolute;width: 10px;height: 20px;border: 0px;border-right: 2.5px solid #3366FF;border-top-left-radius:10px;border-top-right-radius:5px;border-bottom-right-radius:40px;border-bottom-left-radius:10px;margin-left: 50px;}
.box8{position:absolute;width: 10px;height: 10px;border: 0px;border-right: 2px solid #3366FF;border-top-left-radius:10px;border-top-right-radius:80px;border-bottom-right-radius:5px;border-bottom-left-radius:90px;}
.box9{position:absolute;width: 14px;height: 14px;border: 0px;border-right: 2.5px solid #3366FF;border-top-left-radius:20px;border-top-right-radius:10px;border-bottom-right-radius:80px;border-bottom-left-radius:20px;margin-left: 50px;}
.box10{position:absolute;width: 10px;height: 20px;border: 0px;border-top: 2px solid blue;border-right: 2px solid blue;border-top-left-radius: 40px;border-bottom-right-radius:40px;}
.box11{position:absolute;width: 10px;height: 20px;border: 0px;border-top: 2px solid blue;border-right: 2px solid blue;border-top-right-radius: 40px;border-bottom-left-radius:40px;}
.box12{position:absolute;width: 10px;height: 15px;border: 0px;border-left: 2px solid blue;border-left: 2px solid blue;border-top-left-radius: 80px;border-bottom-left-radius:20px;}
.box13{position:absolute;width: 5px;height: 5px;border: 0px;border-bottom: 2px solid #3366FF;border-right: 2px solid #3366FF;border-top: 2px solid #3366FF;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.box14{position:absolute;width: 10px;height: 8px;border: 0px;border-right: 2px solid #3366FF;border-top: 2px solid #3366FF;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:3px;border-bottom-left-radius:10px;}
.box15{position:absolute; width: 10px; height: 10px;border: 0px; border-bottom: 1.5px solid #3366FF;border-left: 1.5px solid #3366FF; border-top: 1.5px solid #3366FF;border-right: 1.5px solid #3366FF;  border-top-left-radius:20px;border-top-right-radius:20px; border-bottom-right-radius:20px;border-bottom-left-radius:20px;}
.box16{position:absolute; width: 20px; height: 8px; margin-top:7px ; margin-left:-12px;border: 0px;border-bottom: 2.5px solid #3366FF; border-top-left-radius:8px;border-top-right-radius:25px; border-bottom-right-radius:50px;border-bottom-left-radius:50px; }
.box17{position:absolute; width: 10px; height: 8px; border: 0px;border-left: 2px solid #3366FF;  border-bottom: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:5px;border-bottom-right-radius:40px; border-bottom-left-radius:10px; }
.box18{position:absolute; width: 10px; height: 10px; border: 0px;border-right: 2px solid #3366FF; border-bottom: 2px solid #3366FF;border-top-right-radius:10px; border-top-left-radius:5px;border-bottom-left-radius:40px; border-bottom-right-radius:10px; }
.box19{position:absolute; width: 10px; height: 20px; border: 0px;border-right: 2px solid #3366FF; border-top-left-radius:20px;border-top-right-radius:20px; border-bottom-right-radius:80px;border-bottom-left-radius:20px; margin-left: 50px; }
.box20{ position:absolute;  width: 25px; height: 14px; border: 0px;border-right: 2px solid #3366FF; border-top-left-radius:14px;border-top-right-radius:5px; border-bottom-right-radius:80px;border-bottom-left-radius:14px; }
.box21{position:absolute; width: 20px; height: 14px; border: 0px;border-right: 2px solid #3366FF; border-top-left-radius:20px;border-top-right-radius:5px; border-bottom-right-radius:14px;border-bottom-left-radius:14px; }
.box22{ position:absolute; width: 15px; height: 16px; border: 0px;border-right: 2px solid #3366FF; border-top-left-radius:120px;border-top-right-radius:120px; border-bottom-right-radius:15px;border-bottom-left-radius:15px; }
.box23{ position:absolute; width: 15px; height: 16px; border: 0px;border-left: 2px solid #3366FF; border-top-left-radius:120px;border-top-right-radius:120px; border-bottom-right-radius:15px;border-bottom-left-radius:15px; }
.box24{ position:absolute; width: 10px; height: 10px; border: 0px;
border-right: 2px solid #3366FF; border-bottom: 2px solid #3366FF;
border-top-right-radius:120px; border-bottom-right-radius:120px;
border-bottom-left-radius:120px; border-top-left-radius:120px;}
.box25{ position:absolute; width:10px; height: 10px; border: 0px;
border-left: 2px solid #3366FF; border-bottom: 2px solid #3366FF;
border-top-right-radius:120px; border-bottom-right-radius:120px;
border-bottom-left-radius:120px; border-top-left-radius:120px;}
.box26{ position:absolute; width: 15px; height: 25px; border: 0px;
border-right: 2px solid #3366FF; border-top-left-radius:120px;
border-top-right-radius:120px; border-bottom-right-radius:15px;
border-bottom-left-radius:15px; }
.box27{ position:absolute;width: 30px; height: 25px; border: 0px;
border-left: 2px solid #3366FF; border-top-left-radius:150px;
border-top-right-radius:150px; border-bottom-right-radius:80px;
border-bottom-left-radius:80px; }
.box28{ position:absolute;width: 10px; height: 10px; border: 0px; border-bottom: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top: 2px solid #3366FF;
border-top-left-radius:10px; border-top-right-radius:10px;border-bottom-right-radius:5px; border-bottom-left-radius:10px; }
.box29{position:absolute; width: 8px; height: 8px; border: 0px;border-right: 2px solid #3366FF; border-top: 2px solid #3366FF;border-top-right-radius:15px; border-bottom-right-radius:15px;border-bottom-left-radius:15px;  border-top-left-radius:120px;}
.box30{ position:absolute; width: 8px; height: 10px; border: 0px;
border-right: 2px solid #3366FF; border-bottom: 2px solid #3366FF;
border-top-right-radius:5px; border-bottom-right-radius:15px;
border-bottom-left-radius:15px;  border-top-left-radius:15px;}
.box31{ position:absolute; width: 8px; height: 8px; border: 0px;
border-right: 2px solid #3366FF; border-left: 2px solid #3366FF;
border-top: 2px solid #3366FF;border-top-right-radius:8px; border-bottom-right-radius:5px;
border-bottom-left-radius:8px;  border-top-left-radius:8px;}
.box32{ position:absolute; width: 10px; height: 8px; border: 0px;
border-bottom: 2px solid #3366FF; border-left: 2px solid #3366FF;
border-top-right-radius:8px; border-bottom-right-radius:5px;
border-bottom-left-radius:8px;  border-top-left-radius:8px;}
.box33{ position:absolute; width: 10px; height: 12px; border: 0px;
border-right: 2px solid #3366FF; border-top-left-radius:20px;
border-top-right-radius:20px; border-bottom-right-radius:80px;
border-bottom-left-radius:20px; margin-left: 50px; }
.box34{ position:absolute; width: 15px; height: 8px; border: 0px;
border-bottom: 1.5px solid #3366FF; border-top-left-radius:8px;
border-top-right-radius:25px; border-bottom-right-radius:50px;
border-bottom-left-radius:50px; }
.box100 { float: left;
	transform: rotate(-27deg); }
.box101 { float: left;
    transform: rotate(110deg); }
.box102{position:absolute; width: 20px; height: 20px;border: 0px; border-right: 3px solid #3366FF;border-top-left-radius:20px; border-top-right-radius:10px;border-bottom-right-radius:80px; border-bottom-left-radius:20px;margin-left: 50px; }
.box102a{position:absolute; width: 20px; height: 23px;border: 0px; border-right: 3px solid #3366FF;border-top-left-radius:20px; border-top-right-radius:10px;border-bottom-right-radius:80px; border-bottom-left-radius:20px;margin-left: 50px; }
.box103{position:absolute;width: 14px; height: 7px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:7px;border-top-right-radius:7px; border-bottom-right-radius:7px;border-bottom-left-radius:7px;}
.box103a{position:absolute;width: 14px; height: 16px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:7px;border-top-right-radius:7px; border-bottom-right-radius:7px;border-bottom-left-radius:7px;}
.box104{position:absolute;width: 18px;   height: 20px; border: 0px;border-bottom: 2px solid #3366FF; border-left: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:22px;border-top-right-radius:17px; border-bottom-right-radius:17px;border-bottom-left-radius:22px; }
.box105{position:absolute;width: 24px; height: 20px; border: 0px;border-bottom: 2px solid #3366FF; border-top-left-radius:22px;border-top-right-radius:17px; border-bottom-right-radius:17px;border-bottom-left-radius:22px;}
.box106{position:absolute;width: 7px; height: 7px; border: 0px;
border-bottom: 2px solid #3366FF; border-left: 2px solid #3366FF;
border-top: 2px solid #3366FF; border-top-left-radius:7px;
border-top-right-radius:3px; border-bottom-right-radius:3px;
border-bottom-left-radius:7px; }
.box107{position:absolute;width: 10px; height: 7px; border: 0px;
border-bottom: 2px solid #3366FF; border-top-left-radius:7px;
border-top-right-radius:7px; border-bottom-right-radius:7px;
border-bottom-left-radius:7px; } 
.box108{position:absolute;width: 10px; height: 14px; border: 0px;border-left: 2px solid #3366FF; border-top-left-radius:100px;border-top-right-radius:14px; border-bottom-right-radius:14px;border-bottom-left-radius:14px;}
.box109{position:absolute;width: 10px; height: 14px; border: 0px;border-right: 2px solid #3366FF; border-top-left-radius:14px;border-top-right-radius:14px; border-bottom-right-radius:100px;border-bottom-left-radius:14px;} 
.tourne45 { float: left;transform: rotate(-45deg); }
.tourne180 { float: left;transform: rotate(-180deg); }
.tourne30 { float: left;transform: rotate(-45deg); }
.box110{position:absolute;width: 14px; height: 14px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top-left-radius:7px;border-top-right-radius:7px; border-bottom-right-radius:14px;border-bottom-left-radius:14px;}
.box111{position:absolute;width: 14px; height: 14px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-top-left-radius:7px; border-top-right-radius:7px;border-bottom-right-radius:14px; border-bottom-left-radius:14px;}
.box112{position:absolute; width: 20px; height: 20px; margin-left:22px; border: 0px;border-left: 3px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:20px; border-bottom-right-radius:20px;border-bottom-left-radius:80px; margin-left: 50px;}
.box113{position:absolute;width: 16px; height: 18px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-top-left-radius:140px; border-top-right-radius:18px;border-bottom-right-radius:140px; border-bottom-left-radius:18px;}
.box114{position:absolute;width: 18px ; height: 18px; border: 0px;border-top: 2px solid #3366FF; border-top-left-radius:18px;border-top-right-radius:18px; border-bottom-right-radius:18px;border-bottom-left-radius:18px;}
.box115{position:absolute;width: 16px; height: 10px; border: 0px;border-top: 2px solid #3366FF; border-right: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:10px; border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
.box116{position:absolute;width: 10px; height: 16px; border: 0px;border-top: 2px solid #3366FF; border-right: 2px solid #3366FF;border-left: 2px solid #3366FF; border-bottom: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:10px;border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.box117{position:absolute;width: 10px; height: 16px; border: 0px; border-right: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:10px;border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.box118{position:absolute;width: 10px; height: 16px; border: 0px; border-left: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:10px; border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
.box119{position:absolute;width: 10px; height: 20px; border: 0px;border-right: 2px solid #3366FF; border-top: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:10px;border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.tourne35m { float: left;
    transform: rotate(37deg); }
.box120 { float: left;
    transform: rotate(14.562deg); }
#corde1 { }
#corde1:active{ display: none; }
.box150{ position:absolute; width: 10px; height: 16px;border: 0px; border-bottom: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top: 2px solid #3366FF;border-right: 2px solid #3366FF;  border-top-left-radius:20px;border-top-right-radius:20px; border-bottom-right-radius:20px;border-bottom-left-radius:20px; }
.box160{ position:absolute; width: 20px; height: 16px; border: 0px;border-bottom: 2px solid #3366FF; border-top-left-radius:8px;border-top-right-radius:25px; border-bottom-right-radius:50px;border-bottom-left-radius:50px; }
.box170{position:absolute; margin-top:-20px ; width: 20px; height: 20px;border: 0px; border-right: 3px solid #3366FF;border-top-left-radius:20px; border-top-right-radius:10px;border-bottom-right-radius:80px; border-bottom-left-radius:20px;margin-left: 50px; }
.box171{position:absolute;width: 6px; height: 8px; border: 0px;
border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;
border-top-left-radius:140px; border-top-right-radius:18px;
border-bottom-right-radius:140px; border-bottom-left-radius:18px; }
.box172{position:absolute;width: 10px; height: 14px; border: 0px; border-left: 2px solid #3366FF;border-top-left-radius:100px; border-top-right-radius:14px;border-bottom-right-radius:14px; border-bottom-left-radius:14px;}
.box173{position:absolute;width: 10px; height: 14px; border: 0px; border-right: 2px solid #3366FF;border-top-left-radius:14px; border-top-right-radius:14px;border-bottom-right-radius:100px; border-bottom-left-radius:14px;}
.box165{position:absolute;width: 10px;height: 16px;border: 0px;border-right: 2px solid #3366FF;border-top: 2px solid #3366FF;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:3px;border-bottom-left-radius:10px;}
.box157{position:absolute;width: 8px; height: 8px; border: 0px; border-right: 2px solid #3366FF;border-left: 2px solid #3366FF; border-top: 2px solid #3366FF;border-top-left-radius:8px; border-top-right-radius:8px;border-bottom-right-radius:8px; border-bottom-left-radius:8px;}
.box158{position:absolute;width: 8px; height: 8px; border: 0px; border-left: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:8px;border-top-right-radius:8px; border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.box159{position:absolute;width: 10px; height: 10px; border: 0px;border-right: 2px solid #3366FF; border-top: 2px solid #3366FF;border-top-left-radius:5px; border-top-right-radius:5px;border-bottom-right-radius:5px; border-bottom-left-radius:5px;}
.box161{position:absolute;width: 8px; height: 16px; border: 0px;border-bottom: 2px solid #3366FF; border-right: 2px solid #3366FF;border-top-left-radius:140px; border-top-right-radius:18px;border-bottom-right-radius:140px; border-bottom-left-radius:18px;}
.box162{position:absolute;width: 7px;height: 10px;border: 0px;border-bottom: 2px solid #3366FF;border-right: 2px solid #3366FF;border-top: 2px solid #3366FF;border-top-left-radius:100px;border-top-right-radius:50px;border-bottom-right-radius:100px;border-bottom-left-radius:5px;}
.box163{position:absolute;width: 5px;height: 5px;border: 0px;border-right: 2px solid #3366FF;border-bottom: 2px solid #3366FF;border-top-left-radius:5px;
border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.boxh1{ position:absolute; width: 10px; height: 2px; background-color: #3366FF; }
.boxh1:active{ background-color: #F5FFFA; }
.action{position:absolute; cursor:pointer; background-color: #F5FFFA; }
.box201{position:absolute; width: 8px; height: 15px; border-style: solid; border-color: coral;border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;}
.box202{position:absolute;width: 8px; height: 10px; border: 0px; border-top: 2px solid #3366FF;border-right: 2px solid #3366FF; border-bottom: 2px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.box203{position:absolute;width: 8px; height: 10px; border: 0px; border-bottom: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
.box204{position:absolute;width: 5px; height: 5px; border: 0px; border-top: 2px solid #3366FF;border-right: 2px solid #3366FF; border-left: 2px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.box205{position:absolute;width: 6px; height: 5px; border: 0px; border-bottom: 2px solid #3366FF;border-right: 2px solid #3366FF; border-left: 2px solid #3366FF; border-top-left-radius:10px;border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.box206{position:absolute;width: 10px; height: 7px; border: 0px; border-bottom: 2px solid #3366FF;
border-right: 2px solid #3366FF; border-top: 2px solid #3366FF; border-top-left-radius:5px;
border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:5px; }
.box207{position:absolute;width: 10px; height: 7px; border: 0px; border-left: 2px solid #3366FF; border-top-left-radius:5px;
border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:5px; }
.box208{position:absolute;width: 10px; height: 5px; border: 0px; border-bottom: 2px solid #3366FF;border-right: 2px solid #3366FF; border-top: 2px solid #3366FF; border-left: 2px solid #3366FF;border-top-left-radius:5px; border-top-right-radius:10px; border-bottom-right-radius:10px;border-bottom-left-radius:5px; }
.box209{position:absolute;width: 10px; height: 7px; border: 0px; border-left: 2px solid #3366FF; border-top-left-radius:5px;
border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:5px; }
.box210{position:absolute;width: 15px; height: 10px; border: 0px; border-right: 2px solid #3366FF;border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-right-radius:100px;border-bottom-left-radius:10px; }
.box211{position:absolute;width: 14px; height: 14px; border: 0px; border-top: 2px solid #3366FF;border-right: 2px solid #3366FF; border-top-left-radius:140px; border-top-right-radius:14px;border-bottom-right-radius:14px; border-bottom-left-radius:14px; }
.box212{position:absolute;width: 12px; height: 8px; border: 0px; border-left: 2px solid #3366FF;border-top: 2px solid #3366FF; border-top-left-radius:8px; border-top-right-radius:8px;border-bottom-right-radius:8px; border-bottom-left-radius:4px; }
.tourne45m { float: left;
   transform: rotate(45deg); }
.tourne30m { float: left;
    transform: rotate(30deg); }
.box213{position:absolute;width: 2px; height: 5px; background-color: #3366FF; }
.box214{position:absolute;width: 2px; height: 5px; background-color: #3366FF; }
.box216{position:absolute;width: 15px; height: 10px; border: 0px; border-left: 2px solid #3366FF;
border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-right-radius:10px;
border-bottom-left-radius:100px; }
.box217{position:absolute; width: 10px; height: 5px; border: 0px; border-bottom: 2px solid #3366FF;border-right: 2px solid #3366FF; border-top: 2px solid #3366FF; border-top-left-radius:5px;border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:5px; }
.box218{position:absolute;width: 6px; height: 14px; border: 0px; border-left: 2px solid #3366FF;
border-top-left-radius:14px ; border-bottom-right-radius:14px; 
border-top-right-radius:14px; border-bottom-left-radius:14px; }
.box219{position:absolute;width: 6px; height: 14px; border: 0px;border-right: 2px solid #3366FF;
border-top-left-radius:14px ; border-bottom-right-radius:14px; 
border-top-right-radius:14px; border-bottom-left-radius:14px; }
.cachemoi{display:none}.sortdutrou{display:inline}.tourne15{float:left;transform:rotate(15deg)}.tourne25{float:left;transform:rotate(25deg)}
.tourne30{float:left;transform:rotate(30deg)}.tourne45{float:left;transform:rotate(45deg)}.tourne60{float:left;transform:rotate(60deg)}
.tourne75{float:left;transform:rotate(75deg)}.tourne90{float:left;transform:rotate(90deg)}.tourne105{float:left;transform:rotate(105deg)}
.tourne120{float:left;transform:rotate(120deg)}.tourne135{float:left;transform:rotate(135deg)}.tourne150{float:left;transform:rotate(150deg)}
.tourne165{float:left;transform:rotate(165deg)}.tourne180{float:left;transform:rotate(180deg)}.tourne165m{float:left;transform:rotate(-165deg)}.tourne150m{float:left;transform:rotate(-150deg)}.tourne135m{float:left;transform:rotate(-135deg)}.tourne120m{float:left;transform:rotate(-120deg)}.tourne105m{float:left;transform:rotate(-105deg)}.tourne90m{float:left;transform:rotate(-90deg)}.tourne75m{float:left;transform:rotate(-75deg)}.tourne60m{float:left;transform:rotate(-60deg)}.tourne45m{float:left;transform:rotate(-45deg)}.tourne30m{float:left;transform:rotate(-30deg)}.tourne15m{float:left;transform:rotate(-15deg)}.tourne5{float:left;transform:rotate(5deg)}.tourne10{float:left;transform:rotate(10deg)}.tourne20m{float:left;transform:rotate(-20deg)}.tourne70{float:left;transform:rotate(70deg)}.tourne70m{float:left;transform:rotate(-70deg)}.tourne18{float:left;transform:rotate(18deg)}.tourne42{float:left;transform:rotate(42deg)}.tourne5m{float:left;transform:rotate(-5deg)}.tourne80{float:left;transform:rotate(80deg)}.tourne35{float:left;transform:rotate(35deg)}.tourne20{float:left;transform:rotate(20deg)}.tourne12m{float:left;transform:rotate(-12deg)}
