   
.place1{
 position:absolute;
 background-color: red;
 width:13%; 
height:13%;
}
 .place2{
  position:absolute;
    background-color: blue;
margin-left :14%;
 width:13%; 
height:13%;
}
.place3{
 position:absolute;
 background-color: red;
margin-left :28%;
 width:13%; 
height:13%;
}
.place4{
 position:absolute;
 background-color: blue;
margin-left :42%;
 width:13%; 
height:13%;
}
.place5{
 position:absolute;
 background-color: red;
margin-left :56%;
 width:13%; 
height:13%;
}
 .place6{
 position:absolute;
 background-color: blue;
margin-left :70%;
 width:13%; 
height:13%;
}
 .place7{
 position:absolute;
 background-color: red;
margin-left :84%;
 width:13%; 
height:13%;
}

.place8{
 position:absolute;
 background-color: blue;
 width:13%; 
height:13%;
top :14%;
}
 .place9{
  position:absolute;
    background-color: red;
margin-left :14%;
 width:13%; 
height:13%;
top :14%;
}
.place10{
 position:absolute;
 background-color: blue;
margin-left :28%;
 width:13%; 
height:13%;
top :14%;
}
.place11{
 position:absolute;
 background-color: red;
margin-left :42%;
 width:13%; 
height:13%;
top :14%;
}
.place12{
 position:absolute;
 background-color: blue;
margin-left :56%;
 width:13%; 
height:13%;
top :14%;
}
 .place13{
 position:absolute;
 background-color: red;
margin-left :70%;
 width:13%; 
height:13%;
top :14%;
}
 .place14{
 position:absolute;
 background-color: blue;
margin-left :84%;
 width:13%; 
height:13%;
top :14%;
}


.place15{
 position:absolute;
 background-color: red;
 width:13%; 
height:13%;
top :28%;
}
 .place16{
  position:absolute;
    background-color: blue;
margin-left :14%;
 width:13%; 
height:13%;
top :28%;
}
.place17{
 position:absolute;
 background-color: red;
margin-left :28%;
 width:13%; 
height:13%;
top :28%;
}
.place18{
 position:absolute;
 background-color: blue;
margin-left :42%;
 width:13%; 
height:13%;
top :28%;
}
.place19{
 position:absolute;
 background-color: red;
margin-left :56%;
 width:13%; 
height:13%;
top :28%;
}
 .place20{
 position:absolute;
 background-color: blue;
margin-left :70%;
 width:13%; 
height:13%;
top :28%;
}
 .place21{
 position:absolute;
 background-color: red;
margin-left :84%;
 width:13%; 
height:13%;
top :28%;
}

 .place22{
 position:absolute;
 background-color: blue;

 width:13%; 
height:13%;
top :42%;
}


.place23{
 position:absolute;
 background-color: red;
margin-left :14%;
 width:13%; 
height:13%;
top :42%;
}
 .place24{
  position:absolute;
    background-color: blue;

margin-left :28%;
 width:13%; 
height:13%;
top :42%;
}
.place25{
 position:absolute;
 background-color: red;

margin-left :42%;
 width:13%; 
height:13%;
top :42%;
}
.place26{
 position:absolute;
 background-color: blue;

margin-left :56%;
 width:13%; 
height:13%;
top :42%;
}
.place27{
 position:absolute;
 background-color: red;

margin-left :70%;
 width:13%; 
height:13%;
top :42%;
}
 .place28{
 position:absolute;
 background-color: blue;

margin-left :84%;
 width:13%; 
height:13%;
top :42%;
}

 .place29{
 position:absolute;
 background-color: red;

 width:13%; 
height:13%;
top :56%;
}
 .place30{
 position:absolute;
 background-color: blue;
margin-left :14%;
 width:13%; 
height:13%;
top :56%;
}
 .place31{
  position:absolute;
    background-color: red;

margin-left :28%;
 width:13%; 
height:13%;
top :56%;
}
.place32{
 position:absolute;
 background-color: blue;

margin-left :42%;
 width:13%; 
height:13%;
top :56%;
}
.place33{
 position:absolute;
 background-color: red;

margin-left :56%;
 width:13%; 
height:13%;
top :56%;
}
.place34{
 position:absolute;
 background-color: blue;

margin-left :70%;
 width:13%; 
height:13%;
top :56%;
}
 .place35{
 position:absolute;
 background-color: red;

margin-left :84%;
 width:13%; 
height:13%;
top :56%;
}


 .place36{
 position:absolute;
 background-color: blue;

 width:13%; 
height:13%;
top :70%;
}


.place37{
 position:absolute;
 background-color: red;
margin-left :14%;
 width:13%; 
height:13%;
top :70%;
}
 .place38{
  position:absolute;
    background-color: blue;

margin-left :28%;
 width:13%; 
height:13%;
top :70%;
}
.place39{
 position:absolute;
 background-color: red;

margin-left :42%;
 width:13%; 
height:13%;
top :70%;
}
.place40{
 position:absolute;
 background-color: blue;

margin-left :56%;
 width:13%; 
height:13%;
top :70%;
}
.place41{
 position:absolute;
 background-color: red;

margin-left :70%;
 width:13%; 
height:13%;
top :70%;
}
 .place42{
 position:absolute;
 background-color: blue;

margin-left :84%;
 width:13%; 
height:13%;
top :70%;
}


 .place43{
 position:absolute;
 background-color: blue;

 width:13%; 
height:13%;
top :84%;
}


.place44{
 position:absolute;
 background-color: red;
margin-left :14%;
 width:13%; 
height:13%;
top :84%;
}
 .place45{
  position:absolute;
    background-color: blue;
margin-left :28%;
 width:13%; 
height:13%;
top :84%;
}
.place46{
 position:absolute;
 background-color: red;

margin-left :42%;
 width:13%; 
height:13%;
top :84%;
}
.place47{
 position:absolute;
 background-color: blue;

margin-left :56%;
 width:13%; 
height:13%;
top :84%;
}
.place48{
 position:absolute;
 background-color: red;

margin-left :70%;
 width:13%; 
height:13%;
top :84%;
}
 .place49{
 position:absolute;
 background-color: blue;

margin-left :84%;
 width:13%; 
height:13%;
top :84%;
}

 body{width:100%;}


